body{
    font-family: 'Montserrat', sans-serif;
}
.section1{
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
   
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-left: 10px;
    z-index: 999;
}

.table{
    width: 700px;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
    align-content: center;
   
}

.modalContent{
    display: flex;
    flex-direction: column;
   
}

.saveButton{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 15px;
    
    z-index: 999;
}

.accountActivitiesButtons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 720px;    
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
    z-index: 999;
}

.activityButtons{
    display: flex;
    width: 100%;
    max-width: 720px;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 25px;
   
}

.history{
    width: 100%;
    max-width: 720px;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: #000;
}


/* Input Date */

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("./assets/svg/common/calender.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
